@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    font-size: 1rem;
}

.cart {
    border-radius: 100%;
    padding: .6rem;
    background-color: #EC0000;
}

.cart:hover {
    background-color: #05A84B;
}


@media screen and (min-width: 576px) {
    .logo span {
        font-size: 1.7rem;
    }
    
}